@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: linear-gradient(90deg, #ffb8b3, #f38780);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 800px;
  border-radius: 1rem;
  padding: 2rem;
}

.container .title {
  text-align: center;
  font-size: 2rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.container .title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  height: 3px;
  background-color: #f38780;
  width: 50%;
  border-radius: 20px;
}

.container .genPalette-btn {
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: linear-gradient(135deg, #82b3f8, #0862e0);
}

.container .genPalette-btn:hover {
  transform: translateY(-2px);
  box-shadow: 2px 5px 10px #0862e061;
}

.container .genPalette-btn i {
  color: white;
}

.container .palette-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin-top: 2rem;
}

.container .palette-container .color-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.129);
  transition: all ease-in 0.4s;
}

.container .palette-container .color-box:hover {
  transform: translateY(-10px);
}

.container .palette-container .color-box .color {
  min-height: 120px;
  cursor: pointer;
}

.container .palette-container .color-box .color-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

.container .palette-container .color-box .color-info .hex-code {
  font-weight: 500;
  font-size: 15px;
}

.container .palette-container .color-box .color-info .copy-btn {
  color: rgb(197, 195, 195);
  cursor: pointer;
  transition: color ease-in 0.5s;
}

.container .palette-container .color-box .color-info .copy-btn:hover {
  color: #13c1fb;
}
